@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    html, body {
        height: 100vh; /* Use 100% here to support printing more than a single page*/
        margin: 5px !important;
        padding: 5px !important;
        overflow: visible;
    }

}

@layer base {
    html {
        @apply font-sans text-stone-800 select-none text-sm xl:text-base;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    ::-webkit-scrollbar {
        width: 14px;
        height: 14px;
    }

    ::-webkit-scrollbar-thumb {
        outline: none;
        border-radius: 10px;
        border: 4px solid transparent;
        box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.15);
    }

    ::-webkit-scrollbar-thumb:hover {
        border: 4px solid transparent;
        box-shadow: inset 6px 6px 0 rgba(34, 34, 34, 0.3);
    }

    ::-webkit-scrollbar-track {
        box-shadow: none;
        background-color: transparent;
    }



    /* input */
    .inner_input {
        /*@apply text-sm xl:text-lg font-medium appearance-none w-full h-full outline-none pr-3 py-2 focus:outline-none focus:border-emerald-600 focus:border-[1.5px] transition-all bg-white placeholder:xl:text-lg placeholder:text-sm*/
        /*@apply focus:z-10 text-sm xl:text-lg font-medium appearance-none w-full h-full outline-none pr-3 py-2 focus:outline-none focus:ring-emerald-600 focus:ring-offset-0 focus:ring-[2px] transition-all bg-white placeholder:xl:text-lg placeholder:text-sm*/
        @apply text-sm xl:text-lg font-medium appearance-none w-full h-full outline-none pr-3 py-2 group-focus-within:z-10 group-focus-within:outline-none group-focus-within:ring-emerald-600 group-focus-within:ring-offset-0 group-focus-within:ring-[2px] transition-all bg-white placeholder:xl:text-lg placeholder:text-sm
    }
    .inner_input_res {
        @apply font-medium appearance-none w-full h-full outline-none pr-3 py-2 flex items-center text-stone-600 border-stone-300 text-sm xl:text-lg
    }
    .inner_input_error{
        @apply text-sm xl:text-lg font-medium appearance-none w-full h-full outline-none pr-3 py-2 focus:outline-none focus:ring-orange-500 focus:ring-inset focus:ring-[1.5px] transition-all placeholder:xl:text-lg placeholder:text-sm
    }
    .inner_select {
        @apply appearance-none w-full h-full outline-none pl-2 pr-3 py-2 text-sm xl:text-lg
    }
    .inner_select_error{
        @apply appearance-none w-full h-full outline-none pl-2 pr-3 py-2 text-sm xl:text-lg
    }



    /* error */
    .error {
        @apply absolute inset-y-0 right-2 flex items-center text-orange-500 font-medium my-1 ml-1 px-1  text-xs xl:text-sm bg-white
    }


    /* box */
    .box {
        @apply flex rounded-xl px-4 xl:px-10 py-3 xl:pt-5 xl:pb-8 xl:my-0 my-5 shadow font-medium bg-white
    }
    .box_clickable {
        @apply rounded-xl px-4 xl:px-12 py-3 xl:pt-5 xl:pb-8 xl:my-0 my-5 xl:grid grid-cols-2 shadow xl:space-y-1 font-medium bg-white cursor-pointer
    }

    .box_title{
        @apply text-base xl:text-xl font-bold col-span-2 pt-2 pb-4 flex justify-between items-center text-emerald-800
    }

    /* button */
    .gray_btn{
        @apply !bg-neutral-300 hover:!bg-neutral-200 active:!bg-neutral-400
    }

    .gray_line_btn{
        @apply rounded-l-lg border border-r-0 border-stone-300 text-stone-400 hover:bg-stone-100 active:bg-stone-200 transition-all
    }

    .stone_btn{
        @apply rounded-l-lg border border-r-0 border-stone-300 text-stone-500 bg-stone-200 hover:bg-stone-300 active:bg-stone-400 transition-all
    }

    .red_btn{
        @apply !bg-red-400 hover:!bg-red-300 active:!bg-red-500
    }
    .amber_btn{
        @apply !bg-amber-400 hover:!bg-amber-300 active:!bg-amber-500
    }
    .orange_btn{
        @apply !bg-orange-400 hover:!bg-orange-300 active:!bg-orange-500
    }

    /* skeleton */
    .skeleton{
        @apply bg-gradient-to-b from-neutral-100 from-5% to-neutral-50 animate-pulse
    }

}

